@font-face {
    font-family:'Roboto';
    src: local('Roboto'), local('Roboto Regular'),
         url('../fonts/Roboto.woff2') format('woff2'),
         url('../fonts/Roboto.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'Roboto Medium';
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/Roboto Medium.woff2') format('woff2'),
         url('../fonts/Roboto Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

@font-face {
    font-family:'Roboto Bold';
    src: 
         local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/Roboto Bold.woff2') format('woff2'),
		 url('../fonts/Roboto Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2044;
}

body {
    width: 1200px;
    min-height: 2415px;
    margin: 0 auto;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;

    background-color: #849d8f;
    background-size: 1200px auto;
}

/* Нижнее подчёркивание задам border-bottom или outline */
a {
    text-decoration: none;
}

/*img {
    max-width: 100%;
    height: auto;
}*/

/* Скрытие невидимых в разметке элементов */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: none;
}*/

.button {
    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    
    background: #f26843;
    background: linear-gradient(to bottom, #f26843, #e74a35);
    border-radius: 50px;
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64); 
    border: none;

    cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.nav {
    display: flex;
    flex-direction: column;
    min-height: 125px;
    margin-top: 10px;

    position: relative;
    z-index: 2;

    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.nav-wrapper {
    width: 100%;
    height: 64px;
}

.container {
    display: flex;
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.logo {
    display: inline-block;
    width: 154px;
    height: 64px;
}

.logo-img {
    position: relative;
    top: -1px;

    width: 154px;
    height: 64px;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;

    width: 698px;
    min-height: 125px;
    margin: 0;
    padding: 0;
    margin-top: 11px;
    margin-left: 9px;

    list-style: none;
}

.menu-item {
    position: relative;
}

.nav a, 
.menu-item a, 
.user-item a {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff; 
}

.menu-item > a {
    border-radius: 35px;
}

.menu-item > a {
    display: block;
    padding: 8px 14px;
}

.menu-item:first-child > a::after,
.menu-item:nth-child(2) > a::after,
.menu-item:last-child > a::after {
    content: "";

    position: absolute;

    display: block;
    height: 1px;

    background-color: rgba(255, 255, 255, 0.2);
}

.menu-item:first-child > a::after {
        width: 62px;
}

.menu-item:nth-child(2) > a::after {
    width: 142px;
}

.menu-item:last-child > a::after {
    width: 92px;
}

.menu-item > a:hover, 
.menu-item > a:focus {
    color: #333333;

    background-color: #f7f6f3;
}

.menu-item > a:active {
    background-color: #ededed;
    box-shadow: inset 0 2px 1px 0 #696969;

    border: none;
    text-decoration: none;

    border-radius: 15px;
}

.menu-item > a:hover::after {
    display: none;
}

.menu-item-current:first-child > a {
    display: inline-block;
    background-color: #d07058;
    color: #ffffff;
}

.menu-item-current:first-child > a::after {
    display: none;
}

.menu-item:first-child:hover > .menu-catalog {
    display: block;
}

/* Меню каталога */
.menu-catalog {
    position: absolute;
    left: -6px;
    top: 39px;

    display: none;
    width: 143px;
    height: 171px;
    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #ffffff;

    border-radius: 6px;

    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-item a {
    display: inline-block;
    width: 123px;
    min-height: 30px;
    margin-bottom: 1px;
    padding-left: 20px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #323232;  
}

.catalog-item:first-child a {
    position: relative;

    margin-bottom: 10px;
    height: 38px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    line-height: 34px;
    font-weight: 700;
    color: #323232; 

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}



.catalog-item:first-child a::after {
    content: "";

    position: absolute;
    top: 38px;
    left: 8px;

    width: 128px;
    height: 1px;
    
    display: block;

    background-color: rgba(0, 0, 0, 0.2);
}

.catalog-item:nth-child(2) a,
.catalog-item:nth-child(3) a,
.catalog-item:nth-child(4) a,
.catalog-item:last-child a {
    position: relative;
    top: -8px;
}

.catalog-item:last-child a {
    height: 38px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu-catalog a:hover, 
.menu-catalog a:focus {
    background-color: #fbded7;
}

.menu-catalog a:active {
    background-color: #f6b5a5;
}

/* Пользовательское меню */
.user-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 267px;
    min-height: 67px;
    margin: 0;
    padding: 0;
    margin-top: 12px;
    margin-left: 30px;

    list-style: none;
}

.user-item a {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;

    background-color: #a1b4a9;
    text-decoration: none;
}

.user-item a:hover, 
.user-item a:focus {
    background-color: #ffffff;
}  

.user-search
.user-signin
.user-basket {
    position: relative;
}  

.user-search a,
.user-signin a,
.user-basket .basket {
    position: relative;
    display: block;

    background-color: rgba(255, 255, 255, 0.2);
}

.user-search a:hover,
.user-search a:focus,
.user-signin a:hover,
.user-signin a:focus,
.user-basket .basket:hover,
.user-basket .basket:focus {
    color: #323232;
}

.user-search a::before,
.user-signin a::before,
.user-basket .basket::before {
    content: "";

    position: absolute;
    z-index: 4;

    display: block;
}

.user-search a {
    width: 33px;
    height: 33px;
    
    border-radius: 50%;
}

.user-search a::before {
    top: 8px;
    left: 8px;

    width: 18px;
    height: 18px;

    background: url("../img/loupe.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-search a:hover::before,
.user-search a:focus::before,
.user-search a:active::before {
    width: 16px;
    height: 16px;

    background: url("../img/loupe-black.svg");
}

/* Не работает адекватно */
.user-search a:hover ~ .modal-search,
.user-search a:focus ~ .modal-search, 
.user-search a:active ~ .modal-search {
    display: block;
}

.user-signin .signin-link {
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 45px;
    padding-right: 15px;

    border-radius: 35px;
}

.user-signin .signin-link::before {
    top: 7px;
    left: 17px;

    width: 21px;
    height: 19px;

    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-signin .signin-link:hover::before,
.user-signin .signin-link:focus::before,
.user-signin .signin-link:active::before {
    width: 20px;

    background: url("../img/login-black.svg");
}

/* Не работает адекватно */
.user-signin a:hover ~ .modal-signup,
.user-signin a:focus ~ .modal-signup, 
.user-signin a:active ~ .modal-signup {
    display: block;
}

.user-basket .basket {
    padding-top: 8px;
    padding-bottom: 9px;
    padding-left: 44px;
    padding-right: 34px;

    border-radius: 35px;
}

.user-basket .basket::before {
    top: 7px;
    left: 16px;

    width: 21px;
    height: 20px;

    background-image: url("../img/basket.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.user-basket .basket:hover::before,
.user-basket .basket:focus::before,
.user-basket .basket:active::before {
    width: 21px;

    background: url("../img/basket-red.svg");
}

.user-info {
    margin-top: -2px;
    margin-right: 27px;
    text-align: right;
}

.work-hours {
    display: inline-block;
    margin-bottom: 5px;

    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.user-info a {
    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

/* Модальные окна пользовательского меню */

/* Окно поиска */
.modal-search, 
.modal-signup {
    position: absolute;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    background-color: #f8f7f4;
    color: #323232;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.modal-search {
    display: none;

    left: 603px;
    top: 49px;
    width: 341px;
    height: 84px;

    border-radius: 5px;
}

.modal-find {
    display: block;
    width: 311px;
    height: 44px;
    margin: 0 auto;
    margin-top: 20px;

    text-indent: 12px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;

    box-sizing: border-box;
}

.modal-find:hover {
    border: 2px solid #c7c6c5;
}

.modal-find:focus {
    border: 2px solid #8fbdec;
}

/* Окно регистрации и авторизации */
.modal-signup {
    display: none;

    left: 770px;
    top: 49px;
    width: 277px;
    height: 214px;

    border-radius: 5px;
}

.modal-email, 
.modal-password {
    position: relative;
    left: 2px;

    display: block;
    width: 241px;
    height: 44px;
    margin: 0 auto;
    margin-top: 20px;

    text-indent: 12px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;

    box-sizing: border-box;
}

.modal-email:hover, 
.modal-password:hover {
    border: 2px solid #c7c6c5;
}

.modal-email:focus, 
.modal-password:focus {
    border: 2px solid #8fbdec;
}

.modal-submit {
    width: 100px;
    min-height: 44px;
    margin-top: 20px;
    margin-left: 19px;

    border-radius: 20px;
}

.modal-links-block {
    position: relative;
    top: 7px;
    left: 17px;

    display: inline-block;
    width: 125px;
}

.modal-signup .modal-forgot-pass,
.modal-signup .modal-registration {
    position: relative;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;

    color: #323232;
}

.modal-signup .modal-forgot-pass::after,
.modal-signup .modal-registration::after {
    content: "";

    position: absolute;
    top: 18px;

    display: block;
    height: 1px;

    background-color: #adacaa;
}

.modal-signup .modal-forgot-pass::after {
    width: 100px;
}

.modal-signup .modal-registration::after {
    width: 118px;
}

.modal-signup .modal-forgot-pass:hover,
.modal-signup .modal-forgot-pass:focus,
.modal-signup .modal-forgot-pass:active,
.modal-signup .modal-registration:hover,
.modal-signup .modal-registration:focus,
.modal-signup .modal-registration:active {
    color: #e84d37;
    background: none;
}

.modal-signup .modal-forgot-pass:hover::after,
.modal-signup .modal-forgot-pass:focus::after,
.modal-signup .modal-forgot-pass:active::after,
.modal-signup .modal-registration:hover::after,
.modal-signup .modal-registration:focus::after,
.modal-signup .modal-registration:active::after {
    background-color: #e84d37;
}

/* Главный контент */

/* Слайдер */
.slider {
    position: relative;
    top: -135px;
    z-index: 1;

    background-color: #849d8f;
    background-image: url("../img/slider-img-1.png");
    background-repeat: no-repeat;
    background-position: center top;


    /*Временно для сетки*/
    min-width: 1146px;
    padding: 0 27px;
    height: 881px;
}

.slider-container {
    padding-top: 390px;
}

.slider-items {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-title {
    display: block;
    margin-top: 0;
    margin-bottom: 32px;

    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;

    color: #ffffff;
    background-color: none;

    text-align: center;
}

/*.slider-item {
    background-color: #849d8f;
    background-repeat: no-repeat;
} */

.slider-btn-wrapper {
    width: 100%;
}

.slider-btn {
    display: block;
    width: 280px;
    min-height: 63px;
    margin: 0 auto;

    font-size: 32px;
    /*line-height: 44px;*/
    line-height: 60px;
    text-align: center;
    color: #ffffff;

    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    
    border-radius: 50px;
}

.slider-next-wrapper {
    position: relative;
    top: -48px;
}

.slider-next {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    font-size: 0;

    background-color: transparent;

    border: 2px solid #ffffff;
    border-radius: 50%;

    cursor: pointer;
}

.slider-next-current {
    background-color: #ffffff;
}

.slider-next:hover,
.slider-next:focus {
    background-color: #b2c1b7;
}

.slider-next:active {
    background-color: #ffffff;
}

/* Раздел Баннеры */
.choise-ice {
    display: flex;
    justify-content: space-between;
    width: 1146px;
    min-height: 231px;
    margin-top: -369px;
    margin-bottom: 40px;
    margin-left: 27px;
    margin-right: 27px;

    position: relative;
    z-index: 3; 

    border-radius: 5px; 
}

.choise-element {
    width: 560px;
    min-height: 231px;
    padding: 15px 18px;

    background-repeat: no-repeat;

    border-radius: 16px;

    box-sizing: border-box;
}

.choise-element-1 {
    /*background-color: #bf6983;*/
    background-image: url("../img/raspberry-back.jpg");
    background-repeat: no-repeat;
}

.choise-element-2 {
    /*background-color: #170b08;*/
    background-image: url("../img/chocolate-back.jpg");
    background-repeat: no-repeat;
}

.choise-element-title {
    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;

    color: #ffffff;
}

.choise-element-paragraph {
    margin-top: 15px;
    margin-left: 1px;

    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;

    color: #ffffff;
}

.raspberry-btn,
.chocolate-btn {
    position: relative; 

    display: inline-block;
    
    padding-top: 9px;
    padding-bottom: 14px;

    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    border-radius: 35px;
}

.raspberry-btn {
    left: 356px;
    top: 27px;
    
    padding-top: 9px;
    padding-bottom: 13px;
    padding-left: 22px;
    padding-right: 23px;
}

.chocolate-btn {
    left: 332px;
    top: 27px;
    
    padding-top: 8px;
    padding-bottom: 13px;
    padding-left: 21px;
    padding-right: 21px;
}

/* Раздел Хиты */
.product-container-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    min-height: 325px;
    margin-bottom: 80px;
}

.product-item {
    position: relative;
    top: -10px;
    z-index: 1;
    
    width: 293px;
    min-height: 405px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    
    border-radius: 5px;

    box-sizing: border-box;
}

/*Костыль*/
.product-item:nth-child(1),
.product-item:nth-child(2),
.product-item:nth-child(3),
.product-item:nth-child(4) {
    z-index: 30;
}

/*Костыль*/
.product-item:nth-child(5),
.product-item:nth-child(6),
.product-item:nth-child(7),
.product-item:nth-child(8) {
    z-index: 20;
}

/*Костыль*/
.product-item:nth-child(9),
.product-item:nth-child(10),
.product-item:nth-child(11),
.product-item:nth-child(12) {
    z-index: 10;
}

.product-item::before {
    content: "";

    position: absolute;

    display: block;
    width: 61px;
    height: 61px;

    background-image: url("../img/hit.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}

.product-item:hover, 
.product-item:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.product-item-img {
    border-radius: 50%;
}

.product-item-cost {
    position: relative;
    top: -62px;
    left: -1px;
    
    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;

    color: #ffffff;
}

.product-item-cost::after {
    content: "";

    position: absolute;
    top: 11px;
    left: 82px;

    display: block;
    width: 31px;
    height: 36px;

    background-image: url("../img/ruble.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

}

.product-item-weight {
    position: relative;
    top: -62px;
    left: 31px;

    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;

    color: #ffffff;
}

.product-item-cost,
.product-item-cost::after,
.product-item-weight {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.product-item-title {
    position: relative;
    top: -54px;
    left: 4px;

    width: 256px;

    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;

    color: #ffffff;

    text-decoration: underline;

    text-align: center;
}

.product-item:hover > .product-item-view {
    display: block;
}

.product-item-view {
    position: absolute;
    top: 347px;
    left: 50%;

    display: none;
    width: 200px;
    min-height: 44px;
    margin-left: -100px;

    line-height: 44px;
    

}

/* О сайте */
.aboutus {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    min-height: 278px;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 40px;
    margin-top: -126px;
    padding: 24px 20px;
    padding-bottom: 5px;

    background-color: #ede1c6;
    background-image: url("../img/wafer-back.jpg");
    background-repeat: repeat-x;

    border-radius: 15px;
}

.aboutus-title {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;

    color: #323232;
}

.aboutus-advantages {
    position: relative;
    top: 6px;
    left: -4px;

    width: 480px;
    min-height: 60px;
    padding-left: 60px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

    color: #323232;
}



.aboutus-advantages:nth-of-type(3),
.aboutus-advantages:last-child {
    top: -5px;
}

.aboutus-advantages:nth-of-type(2), 
.aboutus-advantages:last-child {
    left: 23px;
}

.aboutus-advantages::before {
    content: "";

    position: absolute;
    top: -13px;
    left: 5px;

    display: block;
    width: 49px;
    height: 49px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.aboutus-advantages-1::before {
    background-image: url("../img/ice-cream.svg");
}

.aboutus-advantages-2::before {
    left: 1px;

    background-image: url("../img/cow.svg");
}

.aboutus-advantages-3::before {
    background-image: url("../img/leaf.svg");
}

.aboutus-advantages-4::before {
    left: 1px;

    background-image: url("../img/thermometer.svg");
}

/* Новости */
.news-substraction-container {
    display: flex;
    justify-content: space-between;
    margin-left: 27px;
    margin-right: 27px;
    margin-bottom: 40px;
}

.news-blog {
    width: 560px;
    min-height: 220px;

    background-color: #ffffff;
    background-image: url("../img/strawberry-back.jpg");
    background-repeat: no-repeat;

    border-radius: 15px;
}

.news-blog-container {
    padding: 9px 20px;
    padding-right: 250px;
}

.news-blog-title {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;

    color: #323232;
}

.news-blog-paragraph {
    position: relative;
    top: -10px;

    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

    color: #323232;
    
    /* Временно, заменю псевдоэлементом */
    border-bottom: 2px solid #353535;
}

.news-blog-paragraph:hover,
.news-blog-paragraph:focus,
.news-blog-paragraph:active {
    color: #e84d37;

    border-bottom-color: #f9cdc4;
}

/* Рассылка */
.subscription {
    width: 560px;
    min-height: 220px;

    background-color: #92cdff;
    background-image: -webkit-repeating-linear-gradient(-45deg, #f8f7f4 0px, #f8f7f4 6px, #92cdff 6px, #92cdff 12px, #f8f7f4 12px, #f8f7f4 18px, #fe9e90 18px, #fe9e90 24px); 
    background-image: -o-repeating-linear-gradient(-45deg, #f8f7f4 0px, #f8f7f4 6px, #92cdff 6px, #92cdff 12px, #f8f7f4 12px, #f8f7f4 18px, #fe9e90 18px, #fe9e90 24px); 
    background-image: -moz-repeating-linear-gradient(-45deg, #f8f7f4 0px, #f8f7f4 6px, #92cdff 6px, #92cdff 12px, #f8f7f4 12px, #f8f7f4 18px, #fe9e90 18px, #fe9e90 24px); 
    background-image: repeating-linear-gradient(-45deg, #f8f7f4 0px, #f8f7f4 6px, #92cdff 6px, #92cdff 12px, #f8f7f4 12px, #f8f7f4 18px, #fe9e90 18px, #fe9e90 24px);
    
    border-radius: 15px;
}

.subscription-container {
    width: 550px;
    min-height: 212px;
    margin-top: -13px;
    margin-left: 6px;

    background-color: #f8f7f4;

    border-radius: 15px;
}

.substraction-paragraph {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

    color: #5a5a5a;
}

.substraction-email {
    width: 368px;
    height: 44px;
    margin-top: 22px;
    margin-left: 20px;
    margin-right: 7px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-indent: 12px;

    color: #5a5a5a;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
    box-sizing: border-box;
}

.substraction-email:hover {
    border: 2px solid #c7c6c5;
}

.substraction-email:focus {
    border: 2px solid #8fbdec;
}

.substraction-send {
    position: relative;
    top: -2px;

    width: 130px;
    min-height: 44px;

    border-radius: 35px;
}

/* Карта и форма обратной связи */
.card {
    position: relative;
    min-height: 429px;

    background-color: #ffffff;
    background-image: url("../img/card.jpg");
    background-repeat: no-repeat;
}

.icecream-img {
    position: relative;
    top: 139px;
    left: 266px;
}

.feedback {
    position: absolute;
    right: 0;
    top: 62px;

    width: 300px;
    min-height: 305px;
    margin-right: 27px;

    text-align: center;
    
    background-color: #ffffff;

    border-radius: 15px;
}

.feedback-container {
    position: relative;
    top: 15px;
    margin-left: 23px;
}

.feedback-address-block {
    margin-bottom: 25px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;

    color: #323232;
}

.feedback-address, 
.feedback-number {
    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;

    color: #323232;
}

.feedback-address {
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 18px;
}

.feedback-number {
    display: inline-block;
    margin-top: 4px;
    line-height: 25px;
}

.feedback-btn {
    position: relative;
    top: -2px;
    left: 1px;

    display: inline-block;
    width: 252px;
    min-height: 43px;
    margin-top: 2px;
    margin-left: -27px;

    line-height: 43px;

    border-radius: 35px;
}

/* Подвал */
.footer {
    display: flex;
    justify-content: space-between;
    min-height: 103px;
    margin-left: 27px;
    margin-right: 27px;
}

.footer-socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    position: relative;
    width: 267px;
    padding-left: 3px;
}

.footer-socials > a {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 36px;
    margin-right: 10px;
    
    width: 32px;
    height: 32px;
    
    border: 3px solid #c2cec7;
    border-radius: 50%;
}

.footer-socials > a:hover,
.footer-socials > a:focus,
.footer-socials > a:active {
    border-color: #dae2de;
}

.footer-socials > a:hover path,
.footer-socials > a:focus path,
.footer-socials > a:active path {
    fill: #ffffff;
}

.footer-nav {
    width: 560px;
    margin-top: 29px;
    margin-left: 32px;
    margin-right: 26px;
    padding-left: 150px;
    padding-right: 108px;
}

.footer-nav-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0;
    padding: 0;

    list-style: none;
}

.footer-nav-item {
    position: relative;
}

.footer-nav-item:first-child::before {
    content: "";

    position: absolute;
    top: 7px;
    left: -22px;

    display: block;
    width: 15px;
    height: 13px;

    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.footer-nav-item:nth-of-type(1), 
.footer-nav-item:nth-of-type(3) {
    width: 142px;
}

.footer-nav-item:nth-of-type(2), 
.footer-nav-item:nth-of-type(4) {
    width: 175px;
}

.footer-nav-item a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;

    color: #ffffff;

    border-bottom: 1px solid #9db1a5;
}

.footer-nav-item:first-child a {
    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;

    color: #ffffff;
}

.footer-nav-item a:hover,
.footer-nav-item a:focus,
.footer-nav-item a:active {
    color: #ffbc9e;

    border-bottom-color: #a7a294;
}

.footer-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.footer-htmlacademy {
    position: relative;
    left: -19px; 

    width: 128px;
    margin-top: 17px;


}

.footer-logo-img {
    position: relative;
    top: -1px;
    left: 9px;

    width: 108px;
    height: 40px;
}

.footer-htmlacademy-made {
    position: relative;
    left: 20px;

    margin-top: -3px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;

    color: #fefefe;
}

.footer-htmlacademy-link {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;

    color: #fefefe;

    border-bottom: 1px solid #9db1a5;
}

.footer-htmlacademy-link:hover,
.footer-htmlacademy-link:focus,
.footer-htmlacademy-link:active {
    color: #ffbc9e;

    border-bottom-color: #a7a294;
}

/* Модальное окно - Обратная связь */
.modal-feedback {
    position: fixed;
    top: 120px;
    left: 50%;
    z-index: 5;
    
    display: none;
    width: 479px;
    min-height: 443px;
    margin-left: -238px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;

    background-color: #f8f7f4;

    border-radius: 10px;

    box-sizing: border-box;
}

.modal-feedback-close {
    position: absolute;
    top: 16px;
    right: 16px;

    width: 18px;
    height: 17px;

    border: 0;

    background: none;

    cursor: pointer;
}

.modal-feedback-close::before,
.modal-feedback-close::after {
    content: "";

    position: absolute;
    top: 6px;
    right: 0;

    width: 21px;
    height: 2px;

    background-color: #231f20;
}

.modal-feedback-close::before {
    transform: rotate(45deg);
}

.modal-feedback-close::after {
    transform: rotate(-45deg);
}

.modal-feedback-title {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;

    color: #323232;
}

.modal-feedback-form > input, 
.modal-feedback-form > textarea {
    position: relative;
    margin-top: 20px;

    display: block;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    text-indent: 12px;
    color: #323232;

    border: 1px solid #d3d3d2;
    border-radius: 5px;

    box-sizing: border-box;
}

.modal-feedback-form > input {
    width: 267px;
    height: 44px;
}

.modal-feedback-form > textarea {
    width: 427px;
    height: 155px;

    line-height: 38px;

    resize: none;
}

.modal-feedback-form > input:hover,
.modal-feedback-form > textarea:hover {
    border: 2px solid #c7c6c5;
}

.modal-feedback-form > input:focus,
.modal-feedback-form > textarea:focus {
    border: 2px solid #8fbdec;
}

.modal-feedback-form .modal-feedback-submit {
    position: relative;
    top: 25px;
    left: 290px;

    width: 140px;
    min-height: 44px;
}

/* Каталог */
.catalog-page {
    min-height: 1650px;
}

/* Временно */
.catalog-page .basket::before {
    background-image: url("../img/basket-red.svg");
}

.catalog-page .basket {
    padding-right: 18px;
}

.catalog-page .basket-current {
    background-color: #f7f6f3;
    color: #323232;
}

.basket:hover ~ .modal-basket,
.basket:focus ~ .modal-basket {
    display: block;
}

/* Корзина с двумя товарами */
.modal-basket {
    position: absolute;
    top: 49px;
    left: 633px;


    display: none;
    width: 540px;
    height: 243px;

    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

    border-radius: 5px;

    box-sizing: border-box;
}

.modal-product-items {
    margin-top: 14px;
    margin-bottom: 14px;
}

.modal-product-item {
    /*display: flex;
    flex-direction: row;
    align-items: flex-end;
*/
    padding-top: 6px;
    padding-bottom: 6px;
}

.modal-product-item:last-child::after {
    content: "";

    position: absolute;
    top: 130px;
    left: 15px;

    display: block;
    width: 510px;
    height: 1px;

    background-color: #cacac7;
    /*border-bottom: 1px solid #cacac7;*/
}

/* Корзина с двумя товарами */
.modal-basket {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    
    background-color: #f8f7f4;
    color: #323232;
}

.modal-price-weight {
    color: #999999;
}

.modal-price {
    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}


.modal-img-ice {
    margin-left: 20px;
    border-radius: 50%;
}

.modal-basket-close {
    position: relative;
    top: -15px;
    left: 12px;

    display: inline-block;
    width: 18px;
    height: 17px;

    border: 0;

    background: none;

    cursor: pointer;
}

.modal-basket-close::before,
.modal-basket-close::after {
    content: "";

    position: absolute;
    top: 6px;
    right: 0;

    width: 16px;
    height: 1px;

    background-color: #231f20;
}

.modal-basket-close::before {
    transform: rotate(45deg);
}

.modal-basket-close::after {
    transform: rotate(-45deg);
}

.modal-title, 
.modal-weight, 
.modal-price-weight, 
.modal-price-item {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;

    color: #323232;
}

.modal-title {
    position: relative;
    top: -12px;
    left: 9px;

    display: inline-block;
    width: 220px;

    vertical-align: center;
}

/* Костыль */
.modal-product-item:last-child .modal-title {
    top: 4px;
}

.modal-price-weight {
    color: #999999;
}

.modal-weight,
.modal-price-weight {
    position: relative;
    top: -12px;
    left: 33px;  
}

.modal-price-item {
    position: relative;
    top: -12px;
    left: 58px;  
}

.modal-price {
    position: relative;
    left: 419px;
    top: -2px;

    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;

    color: #323232;
}

.modal-basket .modal-order-btn {
    position: relative;
    top: 43px;
    left: 244px;
    width: 172px;
    min-height: 44px;

    display: inline-block;
    
    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
}

/* Хлебные крошки */
.main-form {
    position: relative;

    margin-bottom: -22px;
}

.breadcrumbs {
    position: relative;
    top: -37px;
    left: -1px;
    z-index: 3;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;


    width: 267px;
    min-height: 34px;
    margin-left: 27px;
}

.breadcrumbs-items {
    display: flex;
    margin: 0;
    padding: 0;

    vertical-align: center;

    list-style: none;
}

.breadcrumbs-item {
    position: relative;

    margin-right: 7px;

    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    list-style: none;

    color: #ffffff;
}

.breadcrumbs-item:last-child {
    margin-right: 0;
}

.breadcrumbs-item a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;

    color: #ffffff;

    border-bottom: 1px solid #aebeb5;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus,
.breadcrumbs-item a:active {
    color: #ffbc9e;

    border-bottom-color: #a7a294;
}

/* Форма */
.main-header {
    margin-top: -51px;
    margin-left: 26px;

    font-family: "Roboto Bold", Arial, sans-serif;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;

    color: #ffffff;
}

.sorted-menu {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;

    width: 879px;
    min-height: 200px;
    margin-left: 27px;
}

.menu-sort-block,
.menu-range-block,
.menu-radio-block,
.menu-checkbox-block {
    display: flex;
    flex-direction: column;
}

.menu-sort-items,
.menu-radio-items,
.menu-checkbox-items {
    background-color: #a9b9af;
}

.menu-radio-items,
.menu-checkbox-items {
    display: inline-block;

    margin: 0;
    padding: 0;

    list-style: none;
}

.menu-sort-label, 
.menu-range-label, 
.menu-radio-label, 
.menu-checkbox-label {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;

    color: #ffffff;
}

.menu-radio-label, 
.checkbox-label-item {
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;

    color: #ffffff;
}

.menu-sort-items {
    margin: 0;
    padding: 0;
    text-indent: 0;
    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #ffffff;

    background-color: #9db1a5;
    border: none;
}

.menu-sort-label {
    margin-top: 3px;
    margin-left: 16px;
}

.menu-sort-items {
    position: relative;

    width: 193px;
    height: 37px;
    margin-top: 7px;
    padding-left: 12px;

    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
/*    text-indent: 10px;*/

    border-radius: 35px;

    background-image: url("../img/icon-down-dir.png");
    background-repeat: no-repeat;
    background-position: 92% 50%; 
    background-size: 11px 10px;

    background-size: 11px 10px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.menu-sort-items:hover,
.menu-sort-items:focus {
    background-image: url("../img/icon-down.png");
    background-repeat: no-repeat;
    background-position: 92% 50%; 

    background-color: #ffffff;
    color: #323232;
}

.menu-sort-item {
    border: none;
}

.menu-sort-items::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

.menu-price-controls {
    position: relative;
    left: 30px;
    top: 3px;

    height: 36px;

    font-size: 0;
}

.menu-price-controls label {
    display: inline-block;

    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    vertical-align: top;

    cursor: pointer;
}

.menu-price-controls .min-price,
.menu-price-controls .max-price {
    margin-top: -1px;
    margin-left: -2px;
    width: 75px;
}

.menu-price-controls .max-price {
    margin-left: -4px;
}

.menu-price-controls input {
    width: 25px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.menu-range-controls {
    position: relative;
    top: -11px;
    left: 15px;
    
    width: 218px;
    height: 37px;
    margin-bottom: 32px;
    padding-top: 2px;
    padding-left: 21px;
    padding-right: 21px;

    background: rgba(255, 255, 255, 0.2);

    border-radius: 50px;

    box-sizing: border-box;
}

.menu-range-controls .scale {
    position: relative;
    top: 2px;

    display: inline-block;

    width: 176px;
    height: 4px;

    background: rgba(255, 255, 255, 0.3); /*#d1dad3*/
}

.menu-range-controls .bar {
    position: relative;
    left: 25px;
    width: 94px;
    height: 4px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: 9px;
    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.range-toggle:hover {
    border: 9px solid #ffffff;
}

.range-toggle-min {
    left: 35px;
}

.range-toggle-max {
    left: 134px;
}

.menu-radio-title {
    position: relative;
    top: 3px;
    left: 40px;

    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    text-indent: 5px;
}

.menu-radio-items {
    display: flex;
    align-items: stretch;

    position: relative;
    top: 9px;
    left: 30px;

    width: 416px;
    height: 37px;

    border-radius: 50px;
}

.menu-radio-items .filter-option {
    margin-top: 7px;
    margin-left: 48px;
}

.radio-item + label::before {
    content: "";
    position: absolute;
    left: -32px;
    top: -1px;

    width: 22px;
    height: 22px;

    border-radius: 50%;

    border: 4px solid rgba(255, 255, 255, 0.8);

    box-sizing: border-box;
}

.radio-item:checked + label::after {
    content: "";

    position: absolute;
    left: -25px;
    top: 6px;

    width: 8px;
    height: 8px;

    border-radius: 50%;
    
    background-color: rgba(255, 255, 255, 0.8);
}

.menu-radio-label {
    position: relative;

    cursor: pointer;
    user-select: none;
}

/* Костыль */
.filter-option:nth-child(3) .menu-radio-label,
.filter-option:nth-of-type(4) .menu-radio-label {
    left: 2px;
}

.menu-checkbox-block {
    margin-top: -30px;
    margin-left: -30px;
}

.menu-checkbox-label {
    position: relative;
    top: 3px;
    left: 45px;
}

.menu-checkbox-items {
    display: flex;
    align-items: stretch;

    position: relative;
    top: 9px;
    left: 30px;

    width: 702px;
    height: 36px;
    margin: 0;
    padding: 0;

    border-radius: 50px;
}

.menu-checkbox-items .filter-option {
    margin-top: 7px;
    margin-left: 45px;
}

/* Костыль */
.menu-checkbox-items .filter-option:nth-child(2),
.menu-checkbox-items .filter-option:nth-child(3),
.menu-checkbox-items .filter-option:nth-child(5) {
    margin-left: 53px;
}

/* Костыль */
.menu-checkbox-items .filter-option:nth-child(4) {
    margin-left: 57px;
}

.checkbox-item + label::before {
    content: "";
    position: absolute;
    top: 9px;
    
    width: 20px;
    height: 20px;
    margin-left: -30px;

    border-radius: 2px;
    background-image: url("../img/checkbox-off.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 20px 20px;

    box-sizing: border-box;
}

.checkbox-item:checked + label::before {
    content: "";

    position: absolute;
    top: 9px;

    width: 23px;
    height: 20px;
    
    background: url("../img/checkbox-on.png");
}


.menu-form-btn {
    position: relative;
    top: -5px;
    left: 45px;

    width: 145px;
    min-height: 35px;

    background-color: #9cb0a4;
    color: #ffffff;

    border: none;
    border: 2px solid #fcfcfc;
    border-radius: 35px;
    box-sizing: border-box;
}

.menu-form-btn:hover, 
.menu-form-btn:focus {
    background-color: #fbfcfb;
    color: #323232;

    border: 2px solid #fbfcfb; 
}

.menu-form-btn:active {
    background-color: #ededed;
    color: #323232;
    
    border: none;

    box-shadow: inset 0 1px 2px 0 #696969;
}

/* Товары каталога */
.catalog-page .product-container-items {
    min-height: 1049px;
    margin-bottom: 80px;
}

.catalog-page .product-item::before {
    background: none;
}

.catalog-page .product-item {
    margin-bottom: -43px;
}



/* Пагинация */
.pagination-items {
    display: flex;
    justify-content: flex-end;

    position: relative;
    top: -40px;
    right: 22px;

    margin: 0;
    padding: 0;

    list-style: none;
}

.pagination-item a {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-left: 3px;
    padding-top: 1px;

    font-family: "Roboto Medium", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 25px;

    color: #ffffff;

    border-radius: 50%;

    box-sizing: border-box;
}

.pagination-item-current a {
    background-color: #ffffff;
    color: #323232;

    cursor: pointer;
}

.pagination-item a:hover,
.pagination-item a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

.pagination-item a:active {
    background-color: #ffffff;
    color: #323232;
}

.arrow-left,
.arrow-right {
    position: relative;
}

.arrow-left::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 8px;

    width: 8px;
    height: 12px;

    background-image: url("../img/arrow-left.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    /*transform: rotate(180deg);*/
}

.arrow-right::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 9px;

    width: 8px;
    height: 15px;

    background-image: url("../img/arrow-right.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    color: rgba(255, 255, 255, 0.3);
}

/* Footer */
.catalog-page .footer:before {
    content: "";

    position: absolute;
    top: 1542px;

    width: 1146px;
    height: 1px;

    background: rgba(255, 255, 255, 0.3);
}

.catalog-page .footer {
    margin-top: -13px;
}

